!!! rxvt-unicode
URxvt.depth:        32
URxvt.geometry:     128x32
URxvt.background:   [80]#0f0f0f
URxvt.foreground:   #efefef
!URxvt.color0:       #0f0f0f
!URxvt.color1:       #bf7f7f
!URxvt.color2:       #7fbf7f
!URxvt.color3:       #bfbf7f
!URxvt.color4:       #7f7fbf
!URxvt.color5:       #bf7fbf
!URxvt.color6:       #7fbfbf
!URxvt.color7:       #bfbfbf
!URxvt.color8:       #3f3f3f
!URxvt.color9:       #ffbfbf
!URxvt.color10:      #bfffbf
!URxvt.color11:      #ffffbf
!URxvt.color12:      #bfbfff
!URxvt.color13:      #ffbfff
!URxvt.color14:      #bfffff
!URxvt.color15:      #ffffff
URxvt.colorBD:      #d7d7d7
URxvt.colorIT:      #87af5f
URxvt.colorUL:      #87afd7
URxvt.font:         xft:Ricty:size=14:antialias=true
URxvt.boldFont:     xft:Ricty:bold:size=14:antialias=true
URxvt.fading:       32
URxvt.scrollBar:    false
URxvt.saveLines:    10000
URxvt.cursorBlink:  true
URxvt.preeditType:  OverTheSpot
URxvt.inputMethod:  fcitx
