! xterm
xterm*cursorBlink: false
xterm*faceName: Ricty
xterm*faceSize: 14
xterm*geometry: 80x24
xterm*forcePackedFont: true
xterm*saveLines: 65535
xterm*selectToClipboard: true
xterm*background: #000f1f
xterm*foreground: #afafaf
xterm*color0: #1f1f1f
xterm*color8: #3f3f3f
xterm*color1: #8f2f2f
xterm*color9: #bf3f3f
xterm*color2: #5f8f2f
xterm*color10: #7fbf3f
xterm*color3: #8f7f2f
xterm*color11: #bf9f3f
xterm*color4: #2f4f8f
xterm*color12: #3f5fbf
xterm*color5: #8f2f7f
xterm*color13: #8f3f9f
xterm*color6: #2f8f8f
xterm*color14: #3fbfbf
xterm*color7: #9f9f9f
xterm*color15: #bfbfbf
