!!! rxvt-unicode
URxvt.depth: 32
URxvt.geometry: 128x32
URxvt.background: [64]#000000
URxvt.foreground: #CFCFCF
URxvt.colorIT: #87AF5F
URxvt.colorBD: #D7D7D7
URxvt.colorUL: #87AFD7
URxvt.cursorColor: #7F7F7F
URxvt.font: xft:Ricty:size=14:antialias=true
URxvt.boldFont: xft:Ricty:bold:size=14:antialias=true
URxvt.fading: 32
URxvt.scrollBar: false
URxvt.saveLines: 10000
URxvt.cursorBlink: true
URxvt.preeditType: OverTheSpot
URxvt.inputMethod: fcitx
